@import "tailwindcss";

:root {
  /* Layout breakpoints */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors - Neutral */
  --color-blue-900: hsl(209, 23%, 22%);
  /* Dark Mode Elements */
  --color-blue-950: hsl(207, 26%, 17%);
  /* Dark Mode Background */
  --color-grey-950: hsl(200, 15%, 8%);
  /* Light Mode Text */
  --color-grey-400: hsl(0, 0%, 50%);
  /* Light Mode Input */
  --color-grey-50: hsl(0, 0%, 99%);
  /* Light Mode Background */
  --color-white: hsl(0, 100%, 100%);
  /* Dark Mode Text & Light Mode Elements */

  /* Typography */
  --font-family-base: 'Nunito Sans', sans-serif;
  --font-weight-light: 300;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;

  --font-size-body-home: 14px;
  /* Homepage Items */
  --font-size-body-detail: 16px;
  /* Detail Page */

  /* Accessibility note */
  --min-screen-width: 320px;
  /* For WCAG-responsive testing */
}

body {
  background-color: var(--color-grey-50);
}